h2{
  text-align: center;
}
h1{
  display: block-left;
}
.col-lg-8{
  height: 700px;
}
.col-lg-4{
  height: 70px;
}

.card{
  height: 250px;
}
#disp{
  height: 400px;
}

.sp1, .sp2, #sp3, #sp4{
  width: 290px;
}
#worms{

}
